<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Spare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SpareTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2602F36C1F3084C200BDCCC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>261EB85E18DDB630009DDF78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>261EB87E18DDB631009DDF78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>264EE4A01EF9044F004011FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
